:root {
    --tekstKleurZwart:black; 
    --tekstKleurWit:white;
    --tekstKleurSubmenu:#4f4f4f;
     
    --achtergrondKleurHeader:white;

    --knopKleurHamburgermenu:black; 
   
    --achtergrondKleurBlijfopdehoogte:#353535;
    --hoverKleurKnopBlijfopdehoogte:#4a4a4a;
    --activeKleurKnopBlijfopdehoogte:#606060;
     
    --borderKleurWit:white; 
    
    --achtergrondKleurFooter:black;
    --hoverKleurKnopFooter:rgb(28, 28, 28);
    --activeKleurKnopFooter:rgb(54, 54, 54);
    --lijnKleur:#d5d5d5;
}

*, ::before, ::after { box-sizing: border-box; }

img, video {
    max-width: 100%;
    display: block;
}

body {
    margin: 0;
    background-color: var(--achtergrondKleur);
    font-family: "Montserrat", sans-serif;
}

button {
    font-family: "Montserrat", sans-serif;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ============================================
   HEADER
   ============================================ */

header {
    background-color: var(--achtergrondKleurHeader);
    display: flex;
    align-items: center;            
    padding: 1em 1.5em;
    margin: 0 auto;
}

header h1 {
    margin: 0;
}

header h1 img {
    width: 3.9em;
}

header > a {
    background-color: var(--knopKleurHeader);
    color: var(--tekstKleurKnopHeader);
    text-decoration: none;
    font-size: 0.75em;
    letter-spacing: 0.02em;
    font-weight: 600;
    padding: 1.05em 1.4em;
    border-radius: 8000px;
    margin-left: auto; 
    margin-right: 1.7em;
}

header > a:hover {
    background-color: var(--hoverKleurKnopHeader);
}

header > a:active {
    background-color: var(--activeKleurKnopHeader);
}

header > button {
    background: none;
    border: none;
    padding: 0;
}

header > button img {
    width: 1.8em; 
}

/* ============================================
   NAV Hamburgermenu
   ============================================ */

header > nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: 28px 24px 27px 24px;
    background-color: var(--achtergrondKleurHeader);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index: 1000;
    display: none;
}

/* Sluitknop */
header > nav > button {
    position: absolute;
    top: 22px;
    right: 23px;
    background: none;
    border: none;
    font-size: 1.25em;
    cursor: pointer;
    color: var(--tekstKleurZwart);
}

/* Menu items */
header nav ul {
    list-style: none;
    margin: 3em 0 0;
    padding: 0;
}

header nav ul > li {
    color: var(--tekstKleurZwart);
    margin-bottom: .3em;
    font-size: 1.6em;
    font-weight: 620;
    letter-spacing: -0.02em;
}

header nav ul a {
    text-decoration: none;
    color: var(--tekstKleurZwart);
    font-size: 0.97em;
    letter-spacing: 0.02em;
}

header nav details {
    width: 100%;
}

header summary {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 0.2em 0 0;
  font-size: 0.97em;         
  font-weight: 620;
  letter-spacing: 0.02em;
  cursor: pointer;
}

header summary::-webkit-details-marker {
  display: none;
}

header summary::after {
  content: "›";
  color: var(--tekstKleurZwart);
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1;
  transform-origin: center;
  transition: transform 0.35s ease;
}

header details[open] summary::after {
  transform: rotate(90deg);
}

/* Sub menu */
header nav details ul {
    list-style: none;
    margin: .5em 0 0;
    padding: 0 0 0.5em 1em;
}

header nav details ul a {
    color: var(--tekstKleurSubmenu);
}

header nav details ul li {
    font-size: 0.65em;
    font-weight: 420;
    letter-spacing: 0.02em;
    margin-bottom: 1.3em;
}

/* Onderin */
header nav > a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.02em;
}

/* Lijn */
header nav > a:first-of-type::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -1.5em;         
    height: 1px;
    background-color: var(--lijnKleur)
}

/* Zwarte knop */
header nav > a:first-of-type {
    margin-top: auto;
    position: relative;
    padding: .6em 1.2em;
    border-radius: 999px;
    background-color: var(--knopKleurHamburgermenu);
    color: var(--tekstKleurWit);
    text-align: center;
    font-size: 1em;
    font-weight: 600;
}

/* Witte knop */
header nav > a:last-of-type {
    margin-top: 1em;
    padding: .5em 1.2em;
    border-radius: 999px;
    border: 2px solid var(--borderKleurZwart);
    color: var(--tekstKleurZwart);
}

/* ============================================
   LAATSTE SECTION (Blijf op de hoogte)
   ============================================ */

main > section:last-of-type {
    background-color: var(--achtergrondKleurBlijfopdehoogte);
    color: var(--tekstKleurWit);
    padding: 1.5em 1.6em 2.5em;
}

main > section:last-of-type h2 {
    font-size: 1.5em;
    font-weight: 650;
    letter-spacing: -0.02em;
    margin-bottom: 0;
    color: var(--tekstKleurWit)
}

main > section:last-of-type p {
    font-size: 1.05em;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.01em;
    word-spacing: 0.01em;
    margin-bottom: 2em;
    color: var(--tekstKleurWit)
}

main > section:last-of-type button {
    background-color: var(--achtergrondKleurBlijfopdehoogte);
    color: var(--tekstKleurWit);
    padding: .5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    width: 100%;
    border: 2px solid var(--borderKleurWit);
    border-radius: 999px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.04em;
}

main > section:last-of-type button:hover {
    background-color: var(--hoverKleurKnopBlijfopdehoogte)
}

main > section:last-of-type button:active {
    background-color: var(--activeKleurKnopBlijfopdehoogte)
}

/* ============================================
   FOOTER
   ============================================ */

footer {
    background: var(--achtergrondKleurFooter);
    color: var(--tekstKleurWit);
    padding: 2.5em 1.6em 2em;
    font-family: "Montserrat", sans-serif;
}

/* Logo */
footer > img {
    width: 15.5em;
    height: auto;
    margin: 1em 0 2.5em;
}

/* Land knop */
footer > a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    width: 100%;
    padding: 0.3em 1.2em;
    margin-bottom: 2.5em;
    border: 2px solid var(--borderKleurWit);
    border-radius: 999px;
    color: var(--tekstKleurWit);
    text-decoration: none;
    font-weight: 400;
    font-size: 1.02em;
    letter-spacing: 0.03em;
}

footer > a:hover {
    background-color: var(--hoverKleurKnopFooter);
}

footer > a:active {
    background-color: var(--activeKleurKnopFooter);
}

footer > a img {
    width: 1.6em;
    height: auto;
}

footer > section {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-top: 1px solid var(--lijnKleur);
  margin-top: 1em;
  padding-top: 1.6em;
}

footer > section:first-of-type + section {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

footer > details {
  margin: 0;
  padding: 0;
}

footer > section details {
  padding: 1.3em 0;         
}

footer > section:first-of-type details {
  padding-top: 1.15em;        
}

footer summary {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 1.5em;         
  font-weight: 620;
  letter-spacing: -0.02em;
  cursor: pointer;
}

footer summary::-webkit-details-marker {
  display: none;
}

footer summary::after {
  content: "⌄";
  font-size: 1.3em;
  line-height: 0.8;
  transition: transform 0.25s ease;
}

footer details[open] summary::after {
  transform: rotate(-180deg);
}

footer details ul {
  list-style: none;
  margin: 1.4em 0 0;
  padding: 0;
}

footer details li {
  margin: 0.9em 0 0 2em;
}

footer details a {
  color: var(--tekstKleurWit);
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 620;
  letter-spacing: 0.02em;
}

footer > section:nth-of-type(3) {
    margin-top: 1.2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
    row-gap: 0.8em;
    padding-top: 2.5em;
    padding-bottom: 1.4em;
}

footer > section:nth-of-type(3) a {
    display: block;         
    text-align: left;        
    background: none;
    padding: 0;
    margin: 0;
    color: var(--tekstKleurWit);
    text-decoration: none;
    font-size: 0.9em;        
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 1.45em;
}

/* SECTION 4 – Social icons */
footer > section:nth-of-type(4) {
  display: flex;
  gap: 1em;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

footer > section:nth-of-type(4) a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border: 2px solid var(--borderKleurWit);
  border-radius: 50%;
}

footer section:nth-of-type(4) a:hover {
    background-color: var(--hoverKleurKnopFooter);
}

footer section:nth-of-type(4) a:active {
    background-color: var(--activeKleurKnopFooter);
}

footer > section:nth-of-type(4) img {
  width: 0.9em;
  height: auto;
}

/* SECTION 5 – App stores */
footer > section:nth-of-type(5) {
  display: flex;
  gap: 0.5em;
  border-top: none;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1.8em;
}

footer > section:nth-of-type(5) img {
  width: 8.2em;
  height: auto;
  border: 1px solid var(--borderKleurWit);
  border-radius: 8px;
}

/* Copyright */
footer > p {
  font-size: 0.78em;
  line-height: 1.45em;
  letter-spacing: 0.03em;
  padding-bottom: 1em;
}